{% load staticfiles %}

	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/dist/css/timeline.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/dist/css/sb-admin-2.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'dataTables/jquery.dataTables.min.css' %}" rel="stylesheet">
    	<!-- Please leave them here because, if you move them to the end of the page the map site won't work -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> <!-- Wird auf fast jeder Subseite verwendet -->
    <!-- Leaflet imports-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"/>
<link href="https://s3-us-west-2.amazonaws.com/pesticide/1.2.0/pesticide.css">
<!-- /.panel -->
<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Chat
    </div>
    <!-- /.panel-heading -->

    <div class="panel-body" id="thispanel">
        <div id="scrollbar">
        <div class="chat-panel" >
        <ul id="messaageListingUL" class="chat">
            {% for message in message_list %}
            {% if message.From_id == otherUser.id %}

            <li class="right clearfix">

                {% else %}
                            <li class="left clearfix">
                {% endif %}
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">{{message.From}}</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> {{ message.SendTime }}
                        </small>
                    </div>
                    <p>
                        {{message.Text}}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
        </div>
    </div>
    <!-- /.panel-body -->

    <script>
        var ws = new WebSocket("ws://{{ request.get_host }}/chat/{{ otherUser.id }}/?session_key={{ request.session.session_key }}");
        $('document').ready(function(){
        textField = $("#id_Text");
                textField.keydown(function(e) { // Abschicken wenn enter gedrückt
                    //alert("called");
                    if (e.keyCode == 13) {
                        sendmessage();
                    }
                });
             var messagelistingobj = $('#thispanel');
             messagelistingobj.scrollTop(messagelistingobj[0].scrollHeight);
        });
        ws.onmessage = function(e){
            var obj = JSON.parse(e.data);
            showNewMessage(obj.message,obj.From,obj.To,obj.Fromname,obj.Toname,obj.sendTime);
        };

    function sendmessage() {
        textField = $("#id_Text");
        text = textField.val();
        //debugger;
        ws.send(text);
        textField.val(""); // Resette eingabe
        //return 1;
    }
    function showNewMessage(message,fromid,toid,fromname,toname,date){
            if (fromid!={{ request.user.id }}){
                text = "<li class=\"right clearfix\">";
            }
            else{
                text = "<li class=\"left clearfix\">";
            }
            text += '<div class="chat-body clearfix"> <div class="header"> <strong class="primary-font">' + fromname +'</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i>' +date+ '</small> </div> <p>'+message+'</p> </div> </li>';
            $("#messaageListingUL").append(text);
            var messagelistingobj = $("#thispanel");
            messagelistingobj.scrollTop(messagelistingobj[0].scrollHeight);
    }
    </script>
    <div class="panel-footer">
            <!--<form class="form-horizontal" role="form" id="message" >-->
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form.Text }}
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendmessage()" >
                                        Senden
                                    </button>
                                </span>
           <!-- </form> -->
    </div>
    <!-- /.panel-footer -->
</div>
<!-- /.panel .chat-panel -->
</div>