{% extends "dcp/design/base.html" %}

{% block title %} Nachrichtenübersicht {% endblock %}

{% block content %}
<!-- /.panel -->
<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Chat
    </div>
    <!-- /.panel-heading -->
    {% if last_message_list %}
    <div class="panel-body">
        <ul class="chat">
            {% for message in last_message_list %}
            <li class="right clearfix">
                <div class="chat-body clearfix">
                    <div class="header">

                        {% if message.From_id == currentUser.id %}
                        <a href="{% url "dcp:Chat" %}?userid={{message.To_id}}">
                           <strong class="primary-font">{{message.To}}</strong></a>
                        {% else %}
                        <a href="{% url "dcp:Chat" %}?userid={{message.From_id}}"><strong class="primary-font">{{message.From}}</strong></a>
                        {% endif %}
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> {{ message.SendTime }}
                        </small>
                    </div>
                    <p>
                        {{message.Text}}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- /.panel-body -->
</div>
<!-- /.panel .chat-panel -->
{% endblock content %}
