{% extends "dcp/design/base.html" %}

{% block title %} Nachrichtenübersicht {% endblock %}

{% block content %}
    <script>
    function viewChat(userid){
        $("#chatframeid").attr('src', "{% url "dcp:Chat" %}?userid="+ userid);
        $("#chatframeid").attr('style',"display:inline"); // Wieder auf default value setzen
    }
    </script>
{% if last_message_list %}
    <div class="col-md-6">
        <div class="panel-body">
            <div class="list-group">
            {% for message in last_message_list %}
                {% if message.From_id == currentUser.id %}
                    <a href="{% url "dcp:Chat" %}?userid={{ message.To_id }}" onclick="viewChat({{ message.To_id }});return false;" class="list-group-item">
                    <b>{{message.To}}</b><br>

                {% else %}
                    <a href="{% url "dcp:Chat" %}?userid={{message.From_id}}" class="list-group-item" onclick="viewChat({{ message.From_id }});return false;">
                    <b>{{message.From}}</b><br>
                {% endif %}
                    {{ message.Text }}
                    <span class="pull-right text-muted small"><em>{{ message.SendTime }}</em></span>
                    </a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<!-- /.panel .chat-panel -->
    {% if initial_user %}
        <iframe id="chatframeid" class="col-md-6" height="500px" src=" {% url "dcp:Chat" %}?userid={{ initial_user }}">
        </iframe>
    {% else %}
        <iframe id="chatframeid" class="col-md-6" height="550px" frameBorder="0" src="" style="display: none">
        </iframe>
    {% endif %}
{% endblock content %}
