### Linux ###
*~

### virtual environment
py3env/

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Eclipse Djangoproject import preferences
.project
.pydevproject

# Pycache temps
*.pyc

# Visual Studio
Disaster Communication Platform/Disaster Communication Platform.pyperf
Disaster Communication Platform/.vs/
Disaster Communication Platform/Disaster Communication Platform.pyproj
Disaster Communication Platform/bin/
Disaster Communication Platform/obj/
Disaster Communication Platform/Disaster Communication Platform.sln
Disaster Communication Platform/.idea/Disaster Communication Platform.iml
Disaster Communication Platform/.idea/encodings.xml
Disaster Communication Platform/.idea/inspectionProfiles/profiles_settings.xml
Disaster Communication Platform/.idea/inspectionProfiles/Project_Default.xml
Disaster Communication Platform/.idea/misc.xml
Disaster Communication Platform/.idea/modules.xml
Disaster Communication Platform/.idea/workspace.xml
Disaster Communication Platform/db.sqlite3
Disaster Communication Platform/dcp/migrations/0018_auto_20160604_2116.py
Disaster Communication Platform/dcp/migrations/0019_auto_20160606_0101.py
Disaster Communication Platform/dcp/migrations/0020_auto_20160606_0109.py
Disaster Communication Platform/db.sqlite3
.idea/dcp.iml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Disaster Communication Platform/db.sqlite3
Disaster Communication Platform/dcp/migrations/0002_auto_20160606_1834.py
Disaster Communication Platform/dcp/migrations/0003_auto_20160606_2041.py
Disaster Communication Platform/dcp/migrations/0004_profile.py
Disaster Communication Platform/dcp/migrations/0005_auto_20160610_1542.py
