### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Eclipse Djangoproject import preferences
.project
.pydevproject

# Pycache temps
*.pyc

# Visual Studio
Disaster Communication Platform/Disaster Communication Platform.pyperf
Disaster Communication Platform/.vs/
Disaster Communication Platform/Disaster Communication Platform.pyproj
Disaster Communication Platform/bin/
Disaster Communication Platform/obj/
Disaster Communication Platform/Disaster Communication Platform.sln
