{% extends "dcp/design/base.html" %}

{% block title %} Gebiete Administrator {% endblock %}

{% block content %}

<!-- Script: Aufklappen des Bereiches für eine neue Erstellung-->
<script>
    $(document).ready(function(){
        $("#newSearch").click(function(){
            $("#suchFormular").toggle();
            $("#suchFormularHeading").hide();
        });
    });
</script>

{% if user.is_active  %}
<div class="panel panel-default">
    <div class="panel-heading" id="suchFormularHeading">
        <button class="btn btn-success btn-lg" id="newSearch"><span class="glyphicon glyphicon-search"></span> Vermisste Person hinzufügen</button>
    </div>
    
    <div class="panel-body" id="suchFormular" style="display: none;">
        <div class="col-sm-6">
            <form method="POST">
            	<h2><span class="glyphicon glyphicon-search"></span> Welche Person suchst Du? </h2>
                {% load bootstrap3 %}
                {% bootstrap_form create_new_form %}
				{% csrf_token %}
                {% include "dcp/design/locationPicker.html" with id_location_x=create_new_form.location_x.auto_id id_location_y=create_new_form.location_y.auto_id %}

                <button type="submit" class="btn btn-success" name="post_identifier" value="create"><span class="glyphicon glyphicon-share"></span> Erstellen</button>

                <script>
                    $({{create_new_form.radius.auto_id}}).change(function() {
                        radius = $({{create_new_form.radius.auto_id}}).val()
                        changeRadiusOnMap(radius)
                    });
                </script>
            </form>
    
    
        </div>
    </div>
</div>
{% endif %}