{% extends "dcp/design/base.html" %}

{% block title %} Gebiet bearbeiten {% endblock title %}
{% load bootstrap3 %}

{% block content %}

<div class="panel panel-green" id="42">
      <div class="panel-heading">
        <h3><b>Campus TU Berlin</b></h3>
        <small style="font-size: 0.9em; font-color: #FFF;"><i class="fa fa-clock-o"></i> erstellt vor 42 Minuten</small>
      </div>



        <div class="panel-body">    

		<!--h3><i><div style="color: #d9534f;"> aktueller Stand:</i> </h3-->


            <table width="100%" class="table table-striped table-bordered table-hover">
              <thead>
                <th> width="30%"><center><i class="fa fa-map-marker" style="font-size: 1.5em;" aria-hidden="true"></i></center></th>
                <th width="70%"><i class="fa fa-list" aria-hidden="true"></i> Informationen</center></th>
              </thead>

              <tbody>
              <td>
                <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
              </td>
              <td style="vertical-align: center;">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Ort: <b>Straße des 17. Juni 136, Berlin</b><br>
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Katastrophe: <b>Schwarze Pest</b><br>
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Radius: <b>12km</b><br>
                <i class="fa fa-globe" aria-hidden="true"></i> Staat: <span class="label label-primary">Frankreich</span><br>
                <i class="fa fa-users" aria-hidden="true"></i> NGOs: <span class="label label-success">GRE</span> <span class="label label-success">TUB</span><br>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> vermisste Personen: <b>12</b><br>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Gesuche: <b>42</b><br>
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Angebote: <b>42</b><br>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Veranstaltungen: <b>24</b><br>
            </td>
                  </tbody>
              </table>

             
               <form role="form" id="user" method="post" style="display: inline;">{% csrf_token %}
                  <button id="" type="submit" class="btn btn-danger btn-lg" name="post_identifier" value="remove">
                  <i class="fa fa-times" aria-hidden="true"></i> Gebiet löschen</button>
                </form>
        </div>
</div>









<script>
	$(document).ready(function(){
		$("#karte").click(function(){
			$("#karteFormular").toggle();
			$("#karteFormularHeading").hide();
		});
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading" id="karteFormularHeading">
		<button class="btn btn-primary btn-lg" id="karte"><span class="glyphicon glyphicon-map-marker"></span> Karte aktualisieren</button></div>

		<div class="panel-body" id="karteFormular" style="display: none;">
			<div class="col-sm-6">

				<p>
					<img src="http://topofusion.com/images/tucson-osm.jpg" width="800px" height="300px">
				</p>

				<form method="POST" enctype="multipart/form-data">
					<button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-edit"></span>  Karte aktualisieren</button>
				</form>

				<!-- Radius und Knopf mit aktuellem Standort recylen... -->

			</div>
		</div>
</div>	









<script>
	$(document).ready(function(){
		$("#ngo").click(function(){
			$("#ngoFormular").toggle();
			$("#ngoFormularHeading").hide();
		});
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading" id="ngoFormularHeading">
		<button class="btn btn-primary btn-lg" id="ngo"><i class="fa fa-users" aria-hidden="true"></i> NGO hinzufügen</button></div>

		<div class="panel-body" id="ngoFormular" style="display: none;">
			<div class="col-sm-6">

			<!-- Multi-choose für NGOs -->
			xyz

				<form method="POST" enctype="multipart/form-data">
					<button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-edit"></span> NGO hinzufügen</button>
				</form>

			</div>
		</div>
</div>








<script>
	$(document).ready(function(){
		$("#rechte").click(function(){
			$("#rechteFormular").toggle();
			$("#rechteFormularHeading").hide();
		});
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading" id="rechteFormularHeading">
		<button class="btn btn-primary btn-lg" id="rechte"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Rechtemanagement</button>
	</div>

	<div class="panel-body" id="rechteFormular" style="display: none;">
		<div class="col-sm-12">

			<table width="100%" class="table table-striped table-bordered table-hover">
				<thead>
					<th width="30%">Institution</th>
					<th width="70%"><center><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></center></th>
				</thead>

				<tbody>
				<tr>
					<td>
						<h4>Frankreich <span class="label label-primary label-big">Staat</span></h4>
					</td>
					
					<td>
						<ul>
							<li>Gesuche/Angebote löschen
							<form method="POST" enctype="multipart/form-data" style="display: inline;">
									<button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Entziehen</button>
								</form>
							</li>

							<li>NGOs hinzufügen 
							<form method="POST" enctype="multipart/form-data" style="display: inline;">
									<button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Entziehen</button>
								</form>
							</li>

							<li>NGOs löschen
							<form method="POST" enctype="multipart/form-data" style="display: inline;">
									<button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Entziehen</button>
								</form>
							</li>
						</ul>
					</td>
</tr>
<tr>

					<td>
						<h4>Greenpeace <span class="label label-success label-big">NGO</span></h4>
					</td>
					
					<td>
						<ul>
							<li>Gesuche/Angebote löschen
							<form method="POST" enctype="multipart/form-data" style="display: inline;">
									<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Gewähren</button>
								</form>
							</li>

							<li>NGOs hinzufügen 
							<form method="POST" enctype="multipart/form-data" style="display: inline;">
									<button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Entziehen</button>
								</form>
							</li>

							<li>NGOs löschen
							<form method="POST" enctype="multipart/form-data" style="display: inline;">
									<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Gewähren</button>
								</form>
							</li>
						</ul>
					</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}		