{% extends "dcp/design/base.html" %}

{% block title %} Gebiet bearbeiten {% endblock title %}

{% load bootstrap3 %}

{% block content %}

{% if user.profile.show_map %}
    {% load static %}
    <script src="{% static 'js/map/show-map.js' %}"></script>
{% endif%}

<div class="panel panel-green" id="42">
      <div class="panel-heading">
        <h3><b>Gebiet in {{area.catastrophe.title}}</b></h3>
        <small style="font-size: 0.9em; font-color: #FFF;"><i class="fa fa-clock-o"></i> vor {{area.created_date|timesince}}</small>
      </div>



        <div class="panel-body">    

		<!--h3><i><div style="color: #d9534f;"> aktueller Stand:</i> </h3-->


            <table width="100%" class="table table-striped table-bordered table-hover">
              <thead>
                <th width="30%"><center><i class="fa fa-map-marker" style="font-size: 1.5em;" aria-hidden="true"></i></center></th>
                <th width="70%"><i class="fa fa-list" aria-hidden="true"></i> Informationen</center></th>
              </thead>

              <tbody>
              <td>
                   {% if user.profile.show_map %}
					    <div id="mapid_{{area.id}}" style="width:100%; height:150px;"></div>

					    <script>
                                     initialMap("mapid_{{area.id}}", "{{area.location_x}}","{{area.location_y}}","{{area.locationString}}", "{{area.radius}}")
					    </script>
                   {% endif %}
              </td>
              <td style="vertical-align: center;">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Ort: <b>{{area.locationString}}</b><br>
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Katastrophe: <b>{{area.catastrophe.title}}</b><br>
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Radius: <b>{{area.radius}}</b> km<br>
                <i class="fa fa-globe" aria-hidden="true"></i> Staat: {% for government in area.government_set.all %}<span class="label label-primary">{{government.name}}</span> {% endfor %}<br>
                <i class="fa fa-users" aria-hidden="true"></i> NGOs: {% for ngo in area.ngo_set.all%}<span class="label label-success">{{ngo.name}}</span> {% endfor %}<br>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> vermisste Personen: <b>{{area.getMissingPersons|length}}</b><br>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Gesuche: <b>{{area.getSearches|length}}</b><br>
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Angebote: <b>{{area.getOffers|length}}</b><br>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Veranstaltungen: <b>{{area.getEvents|length}}</b><br>
            </td>
                  </tbody>
              </table>

             {% if canDeleteArea %}
               <form role="form" id="user" method="post" style="display: inline;">
                   {% csrf_token %}
                  <button id="" type="submit" class="btn btn-danger btn-lg" name="post_identifier" value="deleteArea">
                  <i class="fa fa-times" aria-hidden="true"></i> Gebiet löschen</button>
                </form>
             {% endif %}
        </div>
</div>

<script>
	$(document).ready(function(){
		$("#karte").click(function(){
			$("#karteFormular").toggle();
			$("#karteFormularHeading").hide();
		});
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading" id="karteFormularHeading">
		<button class="btn btn-primary btn-lg" id="karte"><span class="glyphicon glyphicon-map-marker"></span> Organization hinzufügen</button></div>
		<div class="panel-body" id="karteFormular" style="display: none;">
			<div class="col-sm-6">
				<form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form subAreaForm %}
					<button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-edit"></span> Neues Sub-Gebiet</button>
				</form>
			</div>
		</div>
</div>	


<script>
	$(document).ready(function(){
		$("#ngo").click(function(){
			$("#ngoFormular").toggle();
			$("#ngoFormularHeading").hide();
			newMapCreateRender();
		});
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading" id="ngoFormularHeading">
		<button class="btn btn-primary btn-lg" id="ngo"><i class="fa fa-users" aria-hidden="true"></i> Neues Sub-Gebiet </button></div>

		<div class="panel-body" id="ngoFormular" style="display: none;">
			<div class="col-sm-6">

				<form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form subAreaForm %}
                    {% include "dcp/design/locationPicker.html" with id_location_x=addNgoForm.location_x.auto_id id_location_y=addNgoForm.location_y.auto_id id_radius=addNgoForm.radius.auto_id staticMarker=area %}
					<button type="submit" class="btn btn-success btn-lg" name="post_identifier" value="addNgo"><span class="glyphicon glyphicon-edit"></span> Neues Sub-Gebiet</button>
				</form>

			</div>
		</div>
</div>

<script>
	$(document).ready(function(){
		$("#rechte").click(function(){
			$("#rechteFormular").toggle();
			$("#rechteFormularHeading").hide();
		});
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading" id="rechteFormularHeading">
		<button class="btn btn-primary btn-lg" id="rechte"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Rechtemanagement</button>
	</div>

	<div class="panel-body" id="rechteFormular" style="display: none;">
		<div class="col-sm-12">

			<table width="100%" class="table table-striped table-bordered table-hover">
				<thead>
					<th width="30%">Regierung</th>
					<th width="70%"><center><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></center></th>
				</thead>

				<tbody>
                {% for governmentArea, governmentForm in governmentAreaFormList %}
				    <tr>
				    	<td>
				    		<h4>{{governmentArea.government.name}} <span class="label label-primary label-big">Staat</span></h4>
				    	</td>
				    	
				    	<td>
				    		<ul>
                                
                                {% for entry in governmentForm.visible_fields %}
                                    <li>
                                        <form method="POST">  
                                            {% csrf_token %}      
                                            {% for hidden in governmentForm.hidden_fields %}
                                                {% if forloop.first %}
                                                    <input name="{{hidden.html_name}}" id="{{hidden.auto_id}}" type="hidden" value="{{hidden.value}}">
                                                {% endif %}
                                            {% endfor %}
                                            
                                            {{entry.label}}
                                            {% if entry.value %}    
                                                <button type="submit" class="btn btn-danger btn-xs" name="post_identifier" value="degrateGovernment"><i class="fa fa-times" aria-hidden="true"></i> Entziehen</button>
                                            {% else %}
                                                <button type="submit" name="post_identifier" value="promoteGovernment" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Gewähren</button>
                                            {% endif%}
                                                <input name="{{entry.html_name}}" id="{{entry.auto_id}}" type="hidden" value="{{entry.value}}">
                                        </form>
                                    </li>
                                {% endfor %}
                 
				    		</ul>
				    	</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>

           <table width="100%" class="table table-striped table-bordered table-hover">
				<thead>
					<th width="30%">NGOs</th>
					<th width="70%"><center><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></center></th>
				</thead>

				<tbody>
                {% for ngoArea, ngoForm in ngoAreaFormList %}
				    <tr>
				    	<td>
				    		<h4>{{ngoArea.ngo.name}} <span class="label label-success label-big">Regierung</span></h4>
				    	</td>
				    	
				    	<td>
				    		<ul>
                                
                                {% for entry in ngoForm.visible_fields %}
                                    <li>
                                        <form method="POST"> 
                                                {% csrf_token %} 
                                                {% for hidden in ngoForm.hidden_fields %}
                                                    {% if forloop.first %}
                                                        <input name="{{hidden.html_name}}" id="{{hidden.auto_id}}" type="hidden" value="{{hidden.value}}">
                                                    {% endif %}
                                                {% endfor %}
                                            
                                            {{entry.label}}
                                            {% if entry.value %}   
                                                <button type="submit" class="btn btn-danger btn-xs" name="post_identifier" value="degrateGovernment"><i class="fa fa-times" aria-hidden="true"></i> Entziehen</button>
                                            {% else %}
                                                <button type="submit" name="post_identifier" value="promoteGovernment" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Gewähren</button>
                                            {% endif%}
                                                <input name="{{entry.html_name}}" id="{{entry.auto_id}}" type="hidden" value="{{entry.value}}">
                                        </form>
                                    </li>
                                {% endfor %}
                 
				    		</ul>
				    	</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}		