{% extends "dcp/design/base.html" %}

{% block title %} Überblick: {{ organization.name}} {% endblock title %}

{% block content %}

{% include "dcp/content/organization/header.html" %}

<div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <b>Zugeordnetes Gebiet</b>
      </div>
      <div class="panel-body">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Deutschland, Europa</b><br>
                        Fläche: 357.168 km²
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>


{% include "dcp/content/organization/userOverview.html" %}

{% include "dcp/content/organization/invites.html" %}

{% endblock content %}
