{% extends "dcp/design/base.html" %}

{% block title %} Überblick: {{ organization.name }} {% endblock title %}

{% block content %}

{% include "dcp/content/organization/header.html" %}

<div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <b>Übersicht zugeordneter Gebiete</b>
      </div>
      <div class="panel-body"> <!-- TODO Ist es 2 mal notwendig?-->
        <div class="panel-body">
        
           <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Berlin, Straße des 17. Juni</b><br>
                        Radius: 4km
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
                        </p>
                    </div>
                </div>
            </div>
        
        
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Berlin, Warschauer Str.</b><br>
                        Radius: 1km
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
                        </p>
                    </div>
                </div>
            </div>
        
        
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Berlin, Platz der Luftbrücke</b><br>
                        Radius: 2km
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
                        </p>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </div>
</div>
</div>

{% include "dcp/content/organization/userOverview.html" %}

{% include "dcp/content/organization/invites.html" %}

{% endblock content %}