{% extends "dcp/design/base.html" %}

{% block title %} {{ngo.name}} {% endblock title %}

{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-12">
                <h2>{{ngo.name}}</h2>
                <p>
                  <b>Kürzel:</b> {{ngo.name_short}}<br>
                  <b>Erstellt vor</b> {{ngo.created_date|timesince}}
              </p>
              
                  {% if user.profile.ngo == ngo %}
                    <form class="form-horizontal" role="form" id="inviteUserSearch" method="post">
    				    <div class="input-group">  
                            {% csrf_token %}
                            <input type="hidden" name="member_id" value="{{user.id}}" />

                            <button type="submit" name="post_identifier" value="endMembership" class="btn btn-danger">NGO verlassen</button>
                        </div>
                    </form>
                  {% endif %}
                  {% if user.is_superuser %}
                    <form class="form-horizontal" role="form" id="inviteUserSearch" method="post">
    				    <div class="input-group">
                            {% csrf_token %}
                            <button type="submit" name="post_identifier" value="deleteOrganization" class="btn btn-danger">NGO löschen</button>
                        </div>
                    </form>
                  {% endif %}
             
         </div>
     </div>
  </div>
</div>

<div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <b>Übersicht zugeordneter Gebiete</b>
      </div>
      <div class="panel-body"> <!-- TODO Ist es 2 mal notwendig?-->
        <div class="panel-body">
        
           <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Berlin, Straße des 17. Juni</b><br>
                        Radius: 4km
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
                        </p>
                    </div>
                </div>
            </div>
        
        
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Berlin, Warschauer Str.</b><br>
                        Radius: 1km
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
                        </p>
                    </div>
                </div>
            </div>
        
        
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Berlin, Platz der Luftbrücke</b><br>
                        Radius: 2km
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>



<div class="col-lg-12">
    <div class="panel panel-default">


        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#overviewMembers").click(function(){
                    $("#overviewMembersAll").toggle();
                    $("#overviewMembers").hide();
                });
            });
        </script>


        <div class="panel-heading" id="membersHeading">
            <button class="btn btn-success btn-lg" id="overviewMembers"><i class="fa fa-envelope" aria-hidden="true"></i> Mitglieder anzeigen</button></div>

            <div class="panel panel-green" id="overviewMembersAll" style="display: none;">
              <div class="panel-heading">
                  <b>Übersicht aller Mitglieder</b>
              </div>
              <div class="panel-body">

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="25%">Benutzername</th>
                                    <th width="15%">Zeitpunkt der Mitgliedschaft</th>
                                    <th width="5%" align="center">Administator</th>
                                    <th>Aktionen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in ngo.getMembers %}
                                <tr>
                                    <td>{{member}}</td>
                                    <td>seit {{member.profile.date_joined_organization|timesince}}</td>
                                    <td>
                                        {% if member.profile.is_organization_admin %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </td>
                                    <td>    
                                        <form class="form-horizontal" role="form" id="memberManager" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="member_id" value="{{member.id}}" />

                                            {% if user.profile.is_organization_admin or user.is_superuser%}
                                                {% if not member.profile.is_organization_admin and not member.is_superuser %}
                                                    <button type="submit" name="post_identifier" value="promoteAdmin" class="btn btn-success"><i class="fa fa-times"></i> Admin befordern</button>
                                                {% elif member.profile.is_organization_admin and not member.is_superuser %}
                                                    <button type="submit" name="post_identifier" value="degrateAdmin" class="btn btn-warning"><i class="fa fa-times"></i> Admin entfernen</button>
                                                {% endif %}
                                                <button type="submit" name="post_identifier" value="endMembership" class="btn btn-danger"><i class="fa fa-times"></i> Mitgliedschaft beenden</button>
                                            {% endif %}
                                        </form>
                                    </td>
                                </tr>
                                {%endfor%}
                                <!--Beispieleintrag
                                <tr>
                                    <td>Euro Otto</td>
                                    <td>vor 3 Minuten</td>
                                    <td><button type="button" class="btn btn-danger"><i class="fa fa-times"></i> Mitgliedschaft beenden</button></td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#newInvite").click(function(){
                $("#suchFormular").toggle();
                $("#suchFormularHeading").hide();
            });
        });
    </script>

    {% if user.is_superuser or user.profile.ngo == ngo and user.profile.is_organization_admin %}
    <!-- Anfang für die Benutzereinladung -->
    <div class="panel panel-default">
        <div class="panel-heading" id="suchFormularHeading" {% if usernameSearchString != None %} style="display: none;" {% endif %}>
            <button class="btn btn-success btn-lg" id="newInvite"><i class="fa fa-envelope" {% if usernameSearchString != None %} aria-hidden="true" {% endif %}></i> Nutzer zur NGO einladen</button></div>

            <div class="panel-body" id="suchFormular" {% if usernameSearchString == None %}style="display: none;" {% endif %}>
                <div class="col-sm-12">
                    <h2>Welchen Nutzer willst du der NGO hinzufügen?</h2>
			            <form class="form-horizontal" role="form" id="inviteUserSearch" method="post">
    				        <div class="input-group">  
                                {% csrf_token %}
                                <input name="usernameSearchString" {% if usernameSearchString %}value="{{usernameSearchString}}" {% endif %}id="UserSearchBox" type="text" class="form-control input-sm" maxlength="500" placeholder="Benutzername..." />
                                
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" type="submit" name="post_identifier" value="inviteUserSearch">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suchen
                                    </button>
                                </span>
    				        </div>
                        </form>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="20%">Person</th>
                                                <th>Aktionen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for userfound, invited, member in usernameSearchList %}
                                                <tr>
                                                    <td><b>{{userfound}}</b> {% if invited %} (Eingeladen){% elif member %} (Mitglied){% endif %}</td>
                                                    <td>
                                                        <form class="form-horizontal" role="form" id="inviteUserForm" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="user_invite_id" value="{{userfound.id}}" />
                                                            {% if not invited and not member %}
                                                                <button type="submit" class="btn btn-success" name="post_identifier" value="sendInvite"><i class="fa fa-envelope" aria-hidden="true"></i> Person einladen</button>
                                                            {% else %}
                                                                <button type="button" class="btn btn-success disabled"><i class="fa fa-envelope" aria-hidden="true"></i> Person einladen</button>
                                                            {% endif %}
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <!-- Beispiel Element
                                            <tr>
                                                <td><b>Mark Otto</b></td>
                                                <td>
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> Profil ansehen</button>
                                                    <button type="submit" class="btn btn-success"><i class="fa fa-envelope" aria-hidden="true"></i> Person einladen</button>
                                                </td>
                                            </tr>
                                            -->

                                        </tbody>
                                    </table>
                                </div>
                </div>
            </div>
        </div>
        <!-- Ende für die Benutzereinladung -->
        
        <!-- Anfang für alle Einladungen-->
        <div class="panel panel-yellow">
          <div class="panel-heading">
              <b>Übersicht laufender Einladungen</b>
          </div>
          <div class="panel-body">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="25%">Person</th>
                                <th width="15%">Einladung</th>
                                <th>Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if ngo.getInvites %}
                            {% for invite in ngo.getInvites %}
                                <tr>
                                    <td>{{invite.user}}</td>
                                    <td>vor {{invite.date_created|timesince}}</td>
                                    <td>
                                        <form class="form-horizontal" role="form" id="inviteUserSearch" method="post">
    				                        <div class="input-group">  
                                                {% csrf_token %}
                                                <input type="hidden" name="invite_id" value="{{invite.id}}" />
                                                    
                                                <button type="submit" class="btn btn-danger"name="post_identifier" value="discardInvite"><i class="fa fa-times"></i> Verwerfen</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            {%endif%}
                             
                            <!-- Beispiel  
                            <tr>
                                <td>Euro Otto</td>
                                <td>vor 3 Minuten</td>
                                <td><button type="button" class="btn btn-danger"><i class="fa fa-times"></i> Verwerfen</button></td>
                            </tr>
                            -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Ende aller Einladungen -->
   {% endif %}
</div>
{% endblock content %}