<!-- User Overview -->
<div class="col-lg-12">

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#overviewMembers").click(function(){
                    $("#overviewMembersAll").toggle();
                    $("#overviewMembers").hide();
                });
            });
        </script>

        <div class="panel-heading" id="membersHeading">
            <button class="btn btn-success btn-lg" id="overviewMembers"><i class="fa fa-users" aria-hidden="true"></i> Mitglieder anzeigen</button></div>

            <div class="panel panel-green" id="overviewMembersAll" style="display: none;">
              <div class="panel-heading">
                  <b>Übersicht aller Mitglieder</b>
              </div>
              <div class="panel-body">

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                                {% load bootstrap3 %}
                                {% for membershipform in membershipFormList %}
                                    {% if forloop.first %}
                                        <thead>
                                            <tr>
                                                {% for field in membershipform %}
                                                    {% if not field.is_hidden %}
                                                        <th>{% bootstrap_label field.label %} </th>
                                                    {% endif %}
                                                {% endfor %}
                                                <th>Aktionen</th>
                                            </tr>     
                                       </thead>
                                        <tbody>
                                    {% endif %}
                                    <form method="POST">
                                    <tr>                    
                                        
                                        {% csrf_token %}
                                        {% for field in membershipform %}
                                            {% if not field.is_hidden %}
                                                <th>{% bootstrap_field field show_label=False %} </th>
                                            {% elif  field.is_hidden %}
                                                {% bootstrap_field field %}
                                            {% endif %}
                                        {% endfor %}
                                        <th>
                                            {% if user.is_superuser or membership.isOrganizationAdmin %}
                                                <button type="submit" class="btn btn-success" name="post_identifier" value="updateMembership"><span class="glyphicon glyphicon-share"></span> Update</button>
                                                <button type="submit" class="btn btn-danger" name="post_identifier" value="endMembership"><span class="glyphicon glyphicon-trash"></span> Mitgliedschaft beenden</button>
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </form>

                                     {% if forloop.last %}
                                        </tbody>
                                     {% endif %}
                                {% empty %}
                                    <thead>Keine Mitglieder gefunden</thead>
                                {% endfor %}
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
</div>
<!-- Ende User Overview-->