{% extends "dcp/design/base.html" %}

{% block title %} Überblick {% endblock %}

{% block content %}

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-search" style="font-size: 5em;"></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ countSearch }}</div>
                                  
                                </div>
                            </div>
                        </div>
                        <a href="/suchen/">
                            <div class="panel-footer">
                                <span class="pull-left">Gesuche</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                     <span class="glyphicon glyphicon-transfer" style="font-size:5em;"></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ countOffer }}</div>
                                 
                                </div>
                            </div>
                        </div>
                        <a href="/bieten/">
                            <div class="panel-footer">
                                <span class="pull-left">Gebote</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   <span class="glyphicon glyphicon-info-sign" style="font-size: 5em;"></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ countInformation }}</div>
                                   
                                </div>
                            </div>
                        </div>
                        <a href="/wissen/">
                            <div class="panel-footer">
                                <span class="pull-left">Informationen</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-user" style="font-size: 5em;"></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ countPeople }}</div>
                                </div>
                            </div>
                        </div>
                        <a href="/orte/">
                            <div class="panel-footer">
                                <span class="pull-left">Vermisste Personen</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                </div>


             <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Deine Aktivitäten
                </div>

            <div class="panel-body">
                  <ul class="timeline">

               {% if goods_list %}
                {% for good in goods_list %}
    
                <!-- Beginn eines Elements -->
                {% load mathfilters %}
                <li {% if forloop.counter|mod:2 == 0 %}class="timeline-inverted"{% endif %}>
                    <div class="timeline-badge {{good.timeline_badge_color}}"> <span class="glyphicon {{good.timeline_glyphicon}}"></span></div>
    
                    <div class="timeline-panel">
    
                        {% if good.image.url != None %}
                            <img src="{{ good.image.url }}" width="150" style="float:right;" class="img-thumbnail">
                        {% endif %}
    
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>{{ good.title }}</b></h4>
                            <p><span class="glyphicon glyphicon-user"></span> <a href="#">{{ good.user }}</a> <small class="text-muted" style="font-size: 0.9em;"><i class="fa fa-clock-o"></i> vor {{ good.created_date|timesince }}</small></p>
                        </div>
    
                        <div class="timeline-body">
                            <p>{{ good.description }}</p>
                        </div>
    
                        <div class="col-lg-12" margin="20px">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <p><div><!--Abstand--></div>
                                        <span class="{{good.getCategoryGlyphiconAsString}}"></span> {{good.getCategoryNameAsString}}<br>
                                        <span class="glyphicon glyphicon-map-marker"></span> Straße des 17. Juni 135, Berlin
                                    </p>
                                </div>  
    
                                <!-- Karte hier einfügen -->
                                <img src="http://topofusion.com/images/tucson-osm.jpg" width="100%" height="120px">
    
                                {% if user.is_active %}
                                <!-- TODO Button werden nicht richtig angezeigt -->
                                    <center>
                                        <form action="" role="form" id="bump_form" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                            <input type="hidden" name="good_id" value="{{good.id}}" />
                                            <button type="submit" class="btn btn-success" name="post_identifier" value="bump" style="margin-top: 10px; margin-bottom: 10px;">
                                                <span class="glyphicon glyphicon-arrow-up" ></span>
                                                Bump! <span class="badge">{{good.getBumps|length}}</span>
                                            </button>
                                        </form>
                                              
                                        {% if good.user != user %}

                                            <form action="" role="form" id="contact_form" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                                <input type="hidden" name="good_id" value="{{good.id}}" />
                                                     <button type="submit" class="btn btn-primary" value="contact_form" name="post_identifier" style="margin-top: 10px; margin-bottom: 10px;">
                                                        <span class="glyphicon glyphicon-envelope"></span>
                                                        Kontaktieren
                                                    </button>
                                            </form>
                                        {% endif %}
    
                                        {% if user.is_superuser or good.user == user %}
                                            <form action="" role="form" id="delete_form" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="good_id" value="{{good.id}}" />
                                                <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                                <button type="submit" class="btn btn-danger" name="post_identifier" value="delete" style="margin-top: 10px; margin-bottom: 10px;">
                                                    <span class="glyphicon glyphicon-trash"></span> 
                                                    Löschen
                                                 </button>
                                            </form>
    
                                        {% else %}
                                            <form action="" role="form" id="report_form" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="good_id" value="{{good.id}}" />
                                                <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                                <button class="btn btn-danger" type="submit" name="post_identifier" value="report">
                                                   <span class="glyphicon glyphicon-ban-circle"></span> 
                                                   Melden <span class="badge">{{good.getReports|length}}</span>
                                                </button>
                                            </form>
                                        {% endif %}
                                    </center>
                                {% endif %}
                            </div>


                         </div>
                       </div>
                   </li>
                <!-- Ende eines Elements -->
            
                {% endfor %}
                {% endif %}
    




           

            {% endblock content %}
            <!-- /.row -->

