{% extends "dcp/design/base.html" %}

{% block title %}Neuigkeit anlegen {% endblock %}
{% load static from staticfiles %}
{% block content %}

<link href="{% static 'css/knowledge.css' %}" rel="stylesheet">
<script>
	window.onload = function() {
		document.getElementById("search").focus();
		// we set the focuse with this litle trick
		// at the begining
	}
</script>

	<div id="wrap">
		<form action="" autocomplete="on">
			{% csrf_token %}
			<input id="search" name="title" class="search" type="text"
				placeholder="Bitte einen Titel eingeben" maxlength="50" value=""></input><br>
			<textarea name="description" class="description" cols="40"
				placeholder="Bitte eine Beschreibung eingeben" rows="5"></textarea>
			<br>
			<input type="hidden" name="knowledgeID" value="">
			<button type="submit" name="back" formaction="../" id="btnCust" class="btn btn-warning btn">
				<span class="glyphicon glyphicon-arrow-left"></span> Zurück
			</button>
			<button type="submit" name="send" formmethod="post" id="btnCust" class="btn btn-success btn">
				<span class="glyphicon glyphicon-info-sign"></span> Senden
			</button>
		</form>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
		integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
		crossorigin="anonymous"></script>


{% endblock %}