{% extends "dcp/design/base.html" %}
{% load static from staticfiles %}
{% block title %} Neuigkeit im Detail {% endblock %}
{% block content %}

<link href="{% static 'css/knowledge.css' %}" rel="stylesheet">
<div class="row">
  <div class="center-block" style="margin-left: 50px;wight:300px;">
	  	<h1 class="display-4">{{knowledgeEntity.title}}</h1>
	  	<h4 id="display-4">
			{%if knowledgeEntity.description != None%}
			{{knowledgeEntity.description|linebreaksbr}}
			{% endif %}
		</h4>
	  	{%if knowledgeEntity.created_date != None%}
	  	Datum: {{knowledgeEntity.created_date}} | {{knowledgeUser.username}}
	  	{% endif %}
	  	<hr>
	  	<form>
				{% csrf_token %}
	  			<button type="submit" formaction="../" formmethod="get" class="btn btn-warning btn">
					<span class="glyphicon glyphicon-arrow-left"></span> Zurück
				</button>
		</form>
  </div>
</div>
{% endblock %}
