{% extends "dcp/design/base.html" %}

{% block title %}{% endblock %}

{% block content %}
{% load static from staticfiles %}
<link href="{% static 'css/knowledge.css' %}" rel="stylesheet">

<script>
	window.onload = function() {
		document.getElementById("search").focus();
	}
</script>
		<div>
			<form method="post" autocomplete="on">
				{% csrf_token %}
				<!-- DOES NOT WORK!!! input id="search" class="inputCustem" name="search" type="text" placeholder="Was suchst du?"-->
					<!--input id="search_submit" name="search_submit" value="" type="submit"-->
					<button type="submit" name="new" formaction="./anlegen/" formmethod="post" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-info-sign"></span> Neu</button>
			</form>
		</div>

		<div id="continerCustem" style="margin-top: 30px;">
			<div id="colCust24" style="overflow-y:scroll; overflow-x:hidden; height:800px;">
				<h4 id="display-4">Alle Beiträge</h4>
				<ul class="list-unstyled love">

					{% for know in knowledgeList %}
					<li><p>	<span class="glyphicon glyphicon-info-sign" style="font-size: 2em; display: inline;"></span> <b>{{know.title}}</b></p>
						{{know.description}}
						<form action="" method="post">
							{% csrf_token %}
							<input type="hidden" name="knowledgeID" id="{{know.id}}" value="{{know.id}}">
							<button type="submit" name="more" formaction="./ansehen/" formmethod="post" class="btn btn-warning btn"><span class="glyphicon glyphicon-share-alt"></span> Mehr</button>
						</form>
					</li>
					{% endfor %}
				</ul>
			</div>


			<div id="colCust42" style="overflow-y:scroll; overflow-x:hidden; height:800px;">
				<h4 id="display-4">Deine Beiträge</h4>

				<ul class="list-unstyled no-love">
					{% for know in knowledgeYourList %}
					<li><p><b>{{know.title}}</b></p>
						{{know.description}}
						<form action="./bearbeiten/" method="post">
							{% csrf_token %}
							<input type="hidden" name="knowledgeID" value="{{know.id}}">
							<button type="submit" class="btn btn-warning btn"><span class="glyphicon glyphicon-edit"></span> Bearbeiten</button>
						</form>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
{% endblock %}
