{% extends "dcp/design/base.html" %}

{% block title %} Abstimmungen {% endblock %}

{% block content %}
<!-- Script: Aufklappen des Bereiches für eine neue Erstellung-->
<script>
	$(document).ready(function(){
		$("#newSearch").click(function(){
			$("#suchFormular").toggle();
			$("#suchFormularHeading").hide();
		});
	});
</script>


<!-- Anfang des Bereich für die Neuerstellung -->
{% if user.is_active %}
<div class="panel panel-default">
	<div class="panel-heading" id="suchFormularHeading">
		<button class="btn btn-success btn-lg" id="newSearch"><span class="glyphicon glyphicon-stats"></span> Frage hinzufügen</button>
	</div>
	<div class="panel-body" id="suchFormular" style="display: none;">
		<div class="col-sm-6">
			<form method="POST" enctype="multipart/form-data">
				<h2><span class="glyphicon glyphicon-stats"></span> Worüber soll abgestimmt werden? </h2>

				{% load bootstrap3 %}
				{% csrf_token %}	
				{% bootstrap_form questionform %}

				<button type="submit" class="btn btn-success" name="post_identifier" value="create"><span class="glyphicon glyphicon-share"></span> Erstellen</button>
			</form>
		</div>	
	</div>
</div>
{% endif %}

<!-- Ende des Bereiches für die Neuerstellung -->
{% if latest_question_list %}
	{% for question in latest_question_list %}
	<div class="col-sm-4">
	<div class="panel panel-yellow" style="vertical-align:bottom;">
		<div class="panel-heading">
			<b>{{ question.title }}</b>
		</div>
		{% if question.text %}
		<div class="container">
		<p>
			<ul><b>Beschreibung:</b></ul>
			<ul>{{ question.text }}</ul>
		</p>
		</div>
		{% endif %}
		{% if user in question.voted_users.all %}

		{% if choice_list %}
				<div class="container">
				<p>
				{% for choice in choice_list %}

				{% if choice.question == question %}

				<span class="badge">{{choice.votes}}</span> {{ choice.text }}
				<br />

				{% endif %}

				{% endfor %}
				</p>
				</div>
				{% endif %}

		{% else %}

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% if choice_list %}
				<div class="container">
				<p>
				{% for choice in choice_list %}

				{% if choice.question == question %}

				<label for="choice{{ forloop.counter }}">
				<input type="radio" name="choice" value="{{ choice.id }}">
				{{ choice.text }}
				</input>
				</label>
				<br />

				{% endif %}

				{% endfor %}
				</p>
				</div>
				{% endif %}



		{% endif %}
				<center>
					{% if  user in question.voted_users.all %}
					<button class="btn btn-success disabled" style="margin-top: 10px; margin-bottom: 10px;">
						<span class="glyphicon glyphicon-ok"></span>
						Abstimmen
					</button>
					{% else %}
					<button type="submit" class="btn btn-success" name="post_identifier" value="vote" style="margin-top: 10px; margin-bottom: 10px;">
						<span class="glyphicon glyphicon-ok"></span>
						Abstimmen
					</button>
					{% endif %}
					{% if user.is_active %}
					{% if user.is_superuser or question.user == user %}
					<form action="" role="form" id="delete_form" method="post" style="display: inline;">
						{% csrf_token %}
						<input type="hidden" name="question_id" value="{{question.id}}" />
						<button type="submit" class="btn btn-danger" name="post_identifier" value="delete" style="margin-top: 10px; margin-bottom: 10px;">
							<span class="glyphicon glyphicon-trash"></span> 
							Löschen
						</button>
					</form>
					{% endif %}
					{% endif %}
				</center>
			</form>
	</div>
</div>
{% endfor %}

{% else %}
<p>Hinweis: Zur Zeit gibt es nichts, worüber abgestimmt werden müsste!</p>
{% endif %}

{% endblock content %}