{% extends "dcp/design/base.html" %}

{% block title %} Abstimmungen {% endblock %}

{% block content %}
<!-- Script: Aufklappen des Bereiches für eine neue Erstellung-->
<script>
    $(document).ready(function(){
        $("#newSearch").click(function(){
            $("#suchFormular").toggle();
            $("#suchFormularHeading").hide();
            newMapCreateRender();
        });
    });
</script>

<!-- Anfang des Bereich für die Neuerstellung -->
{% if user.is_active %}
<div class="panel panel-default">
	<div class="panel-heading" id="suchFormularHeading">
		<button class="btn btn-success btn-lg" id="newSearch"><span class="glyphicon glyphicon-stats"></span> Frage hinzufügen</button>
	</div>
	<div class="panel-body" id="suchFormular" style="display: none;">
		<div class="col-sm-6">
			<form method="POST" enctype="multipart/form-data">
				<h2><span class="glyphicon glyphicon-stats"></span> Worüber soll abgestimmt werden? </h2>

                {% csrf_token %}	
				{% bootstrap_form form %}

                <button type="submit" class="btn btn-success" name="post_identifier" value="create"><span class="glyphicon glyphicon-share"></span> Erstellen</button>
          </form>
        </div>	
    </div>
</div>
{% endif %}
<!-- Ende des Bereiches für die Neuerstellung -->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>{{ question.question_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Zur Zeit gibt es nichts worüber abgestimmt werden müsste!</p>
{% endif %}

{% endblock %}