{% extends "dcp/design/base.html" %}

{% block title %} Wissen {% endblock %}

{% block content %}

<div class="col-lg-4">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			Neuigkeiten
		</div>
		<div class="panel-body">
			<p>Teile Neuigkeiten zu aufkommenden Katastrophen, Anlaufstellen um Hilfe zu bekommen oder was dir als relevant erscheint.</p>
			<h2><span class="glyphicon glyphicon-bullhorn"></span> <a href="/wissen/neuigkeiten/">Neuigkeiten</a></h2>
		</div>
	</div>
</div>


<div class="col-lg-4">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			Fragen
		</div>
		<div class="panel-body">
			<p>Wenn Du fragen zu irgendetwas hast, erstelle deine Einträge unter dieser Kategorie.</p>
			<h2><span class="glyphicon glyphicon-question-sign"></span> <a href="/wissen/fragen/">Fragen</a></h2>
		</div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			Abstimmungen
		</div>
		<div class="panel-body">
			<p>Hier kannst Du eine Abstiummung zu einem dir relevant erscheinendem Thema starten.</p>
			<h2><span class="glyphicon glyphicon-stats"></span> <a href="/wissen/abstimmungen/">Abstimmungen</a></h2>
		</div>
	</div>
</div>
{% endblock %}
