{% extends "dcp/design/base.html" %}

{% block title %} Wonach suchst Du? {% endblock %}

{% block content %}

<div class="col-lg-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Gefahren
		</div>
		<div class="panel-body">
			<p>Hier kannst Du Informationen über aktuelle Gefahrenstellen posten, wie z.B. kaputte Straßen oder umgefallene Straßenschilder, Bäume etc.</p>
			<h2><span class="glyphicon glyphicon-alert-large"></span> <a href="/wissen/gefahren/">Gefahren</a></h2>
		</div>
	</div>
</div>
{% endblock %}