{% extends "dcp/design/base.html" %}}




{% block title %} {{page_title}} {% endblock %}


{% block content %}



<!-- Script: Aufklappen des Bereiches für eine neue Erstellung-->
<script>
	$(document).ready(function(){
		$("#newSearch").click(function(){
			$("#suchFormular").toggle();
			$("#suchFormularHeading").hide();
		});
	});
</script>

<!-- Anfang des Bereich für die Neuerstellung -->
{% if user.is_active %}
<div class="panel panel-default">
	<div class="panel-heading" id="suchFormularHeading"><button class="btn {{create_new_button}} btn-lg" id="newSearch"><span class="glyphicon {{create_new_glyphicon}}"></span> Neu</button></div>
	<div class="panel-body" id="suchFormular" style="display: none;">
		<div class="col-sm-6">
			<form method="POST" enctype="multipart/form-data">
				<h2><span class="glyphicon {{create_new_glyphicon}}"></span> Was möchtest du erstellen? </h2>

                {% load bootstrap3 %}
                {% bootstrap_form create_new_form %}
				{% csrf_token %}
                {% include "dcp/design/locationPicker.html" with id_location_x="id_location_x" id_location_y="id_location_y" %}

                <button type="submit" class="btn btn-success" name="post_identifier" value="create"><span class="glyphicon glyphicon-share"></span> Erstellen</button>

          </form>
        </div>	
    </div>
</div>
{% endif %}
<!-- Ende des Bereiches für die Neuerstellung -->

<!-- Anfang der Timeline -->
{% include "dcp/design/timeline.html" %}
<!-- Ende der Timeline-->

{% endblock content %}