{% extends "dcp/design/base.html" %}
{% block title %} Orte {% endblock %}

{% block content %}
<div class="col-lg-12">
	<div class="panel panel-green">
		<div class="panel-heading">
			Orte
		</div>
		<div class="panel-body">
			<p>Folge dem Link zu einer Übersichtskarte aller Gesuche und Gebote, die aktuell in Deiner Gegend existieren. Dabei kannst du interessante Angebote oder Gesuche direkt anklicken und sie kommentieren oder den*die Verantwortliche*n kontaktieren.<p>
			<h2><span class="glyphicon glyphicon-map-marker"></span> <a href="/orte/karten/">Karten</a></h2>
		</div>
	</div>
</div>
{% endblock %}
