{% extends "dcp/design/base.html" %}

{% block title %} Katastrophenverwaltung {% endblock title %}

{% block content %}

<script>$(document).ready( function () {
    $('#table_id').DataTable();
} );</script>
<div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Übersicht
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-catastrophes">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Ort</th>
                                            <th>Datum</th>
                                            <th>Radius</th>
                                            <th>Manager</th>
                                            <th>Aktionen</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if catastrophes %}
                                    {% for c in catastrophes %}
                                        <tr class="gradeA">
                                            <td>{{ c.title }}</td>
                                            <td>{{ c.locationString }}</td>
                                            <td>{{ c.date_created }}</td>
                                            <td>{{ c.radius }}</td>
                                            <td>
                                                {% if not c.ngo_set.all and not c.government_set.all %}
                                                    Superuser
                                                
                                                {% else %}
                                                    {% for ngo in c.ngo_set.all %}
                                                        <a href="{% url 'dcp:NgoView' ngo.id %}">{{ngo.name}}</a>
                                                    {% endfor %}
                                                    {% for government in c.government_set.all %}
                                                        <a href="{% url 'dcp:GovernmentView' government.id %}">{{government.name}}</a>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td><center><a href="{% url 'dcp:CreateOrEditCatastrophe' %}?catid={{ c.id }}"><button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Bearbeiten</button></a></center></td>
                                            <td><center><a href="{% url "dcp:DeleteCatastropheView" pk=c.id %}"><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Löschen</button></a></center></td>

                                        </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="well">
                             <!--   <h4>Katastrophen Übersicht</h4>
                                <p>Hier sehen sie eine Übersicht aller Katastrophen</p> -->
                                <a class="btn btn-success btn-lg btn-block" target="_blank" href="{% url 'dcp:CreateOrEditCatastrophe' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Katastrophe erstellen</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

{% endblock content %}