{% extends "dcp/design/base.html" %}}

{% block title %} Government Manager {% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Script: Aufklappen des Bereiches für eine neue Erstellung-->
<script>
	$(document).ready(function(){
		$("#newGovernment").click(function(){
			$("#governmentFormular").toggle();
			$("#governmentFormularHeading").hide();
		});
	});
</script>

<!-- Anfang des Bereich für die Neuerstellung -->
{% if user.is_active and user.is_superuser %}
<div class="panel panel-default">
    <div class="panel-heading" id="governmentFormularHeading"{% if create_new_form.errors %} style="display: none;" {% endif %}><button class="btn btn-primary btn-lg" id="newGovernment"><span class="glyphicon glyphicon-retweet"></span> Neu</button></div>
    <div class="panel-body" id="governmentFormular" {% if not create_new_form.errors %} style="display: none;" {% endif %}>
	    <div class="col-sm-6">
		    <form method="POST">
		        <h2><span class="glyphicon glyphicon-retweet"></span> Neues Government </h2>

                {% load bootstrap3 %}
                {% bootstrap_form create_new_form %}
				{% csrf_token %}

		    	<button type="submit" class="btn btn-success" name="post_identifier" value="create"><span class="glyphicon glyphicon-share"></span> Erstellen</button>
            </form>
	    </div>	
    </div>
</div>
{% endif %}
<!-- Ende des Bereiches für die Neuerstellung -->

<!-- Aufzählung von allen Govermentss-->
{% if government_list %}       
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Kurzname</th>
            <th>Mitglieder</th>
          </tr>
        </thead>
        <tbody>
            {% for government in government_list %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td><a href="{% url 'dcp:GovernmentView' government.id %}">{{government.name}}</a></td>
                  <td>{{government.name_short}}</td>
                  <td>{{government.profile_set|length}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
{% else %}
    <center>
        <h3>Keine Staaten gefunden</h3>
    </center>
{% endif %}
<!-- Ende der Aufzählung von allen Goverments-->

{% endblock content %}