{% extends "dcp/design/base.html" %}
{% block title %} Nutzerverwaltung {{otherUser}} {% endblock %}

{% block content %}
    <script>$(document).ready( function () {
    $('#table_id').DataTable();
} );</script>
<div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Benutzerübersicht
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Benutzername</th>
                                            <th>Vorname</th>
                                            <th>Nachname</th>
                                            <th>Emailadresse</th>
                                            <th>Aktionen</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for u in users %}
                                        <tr class="gradeA">
                                            <td>{{ u.username }}</td>
                                            <td>{{ u.first_name }}</td>
                                            <td>{{ u.last_name }}</td>
                                            <td>{{ u.email }}</td>
                                            <td><center><a href="{% url "dcp:AdminEditUserProfileView" pk=u.id %}"><button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Bearbeiten</button></a></center></td> <!-- Todo: Editier Formular ausführen -->
                                            <td><center><a href="{% url "dcp:DeleteUserView" pk=u.id %}"><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Löschen</button></a></center></td>  <!-- Todo: Löschen Formular ausführen -->
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                     
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock content %}