{% extends "dcp/design/base.html" %}
{% block title %} Benachrichtigungen {% endblock %}
{% block content %}
    <script>
        var ws_custom = new WebSocket("ws://{{ request.get_host }}/notifications/?session_key={{ request.session.session_key }}");
        ws_custom.onmessage = function(e){
            addToNotificationsList(e);
        };
        //#var ws_all = new WebSocket("ws://{{ request.get_host }}/notify_all//?session_key={{ request.session.session_key }}");
        /*ws_all.onmessage = function(e){
            addToNotificationsList(e);
        };*/
        function addToNotificationsList(obj){
            var notification = JSON.parse(obj.data);
            var divListing = $('#DivNotificationListing');
            var newElemHtml = '<li class="list-group-item" id="' +notification.id+'">';
            if(notification.url!=""){
                newElemHtml += '<a href="'+notification.url+'" class="" onclick=""><b>'+notification.title+'</b><br></a>';
            }
            else{
                newElemHtml += '<b>' +notification.title+'</b><br>';
            }
            newElemHtml += notification.text;
            newElemHtml += '<button id="ok" style="display: inline; float: right;" class="btn btn-danger btn-xs" onclick="deleteNotification(' +notification.id+ ')"><span class="glyphicon glyphicon-trash"></span> Löschen</button>'
                    + '</li>';
            newElemHtml += '<span class="pull-right text-muted small"><em>';
            newElemHtml += notification.pubdate;
            newElemHtml +='</em></span>';
            divListing.prepend(newElemHtml);

            $("nothing").hide(); /* Verbirgt den Text, falls erste Nachricht hereinkommt. */
        }
        function deleteNotification(id){
            ws_custom.send(JSON.stringify({delete:id}));
            $("#"+id).remove();
        }
    </script>
    <div class="col-md-6">
        <div class="panel-body">
            <div id="DivNotificationListing" class="list-group">
              {% if notifications_list %}
                {% for notification in notifications_list %}
                    <li class="list-group-item" id="{{ notification.id }}">
                    {% if notification.url %}
                    <a href="{{ notification.url }}" class="" onclick=""><b>{{notification.title}}</b><br></a>
                    {% else %}
                        <b>{{notification.title}}</b><br>
                    {% endif %}
                    {{ notification.text }}
                    <button id="ok" style="display: inline; float: right;" class="btn btn-danger btn-xs" onclick="deleteNotification({{ notification.id }})"><span class="glyphicon glyphicon-trash"></span> Löschen</button>
                    <span class="pull-right text-muted small" style="margin:10px;"><em>vor {{ notification.pubdate|timesince }}</em></span>
                     </li>
                {% endfor %}
              {% else %}
              <div id="nothing">Du hast derzeit keine Benachrichtigungen.</div>
              {% endif %}
        </div>
    </div>


{% endblock %}
