{% extends "dcp/design/base.html" %}

{% block title %} Suche: Materielles {% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$("#newSearch").click(function(){
			$("#suchFormular").toggle();
			$("#suchFormularHeading").hide();
		});
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading" id="suchFormularHeading"><button class="btn btn-primary btn-lg" id="newSearch"><span class="glyphicon glyphicon-search"></span> Neues Gesuch</button></div>
	<div class="panel-body" id="suchFormular" style="display: none;">
	 <div class="col-sm-6">
		<form method="POST">
			 
				<h2><span class="glyphicon glyphicon-search"></span> Nach welchem Gegenstand suchst Du?</h2>
				<div class="form-group">
					<label>Titel:</label>
					<input name="title" type="text" placeholder="Suche leistungsstarkes Stromaggregat" class="form-control">
				</div>

			
				<label>Kategorie:</label><br />
				
				<div class="radio">
					<label>
				    <input type="radio" name="category" id="lebensmittel" value="lebensmittel">
				    <span class="glyphicon glyphicon-cutlery"></span> Lebensmittel
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="category" id="infrastruktur" value="infrastruktur">
				   <span class="glyphicon glyphicon-flash"></span> Infrastruktur
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="category" id="werkzeug" value="werkzeug">
				   <span class="glyphicon glyphicon-wrench"></span> Werkzeug
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="category" id="medizin" value="medizin">
				   <span class="glyphicon glyphicon-heart"></span> Medizin
				  </label>
				</div>

				<div class="radio">
				  <label>
				    <input type="radio" name="category" id="sonstiges" value="sonstiges">
				   <span class="glyphicon glyphicon-option-horizontal"></span> Sonstiges
				  </label>
				</div>

				<div class="form-group">
					<label>Bild:</label><input type="file">
               </div>

				<div class="form-group">
					<label>Kurzbeschreibung:</label>
					<textarea name="description" class="form-control" rows="5" id="description" placeholder="Nenne hier wichtige Details."></textarea>
				</div>

				<div class="form-group">
					<label>Standort:</label>
					<input name="location" type="text" class="form-control" id="inputlg" placeholder="Berlin">
				</div>

				<div class="form-inline">
					<label for="priority">Suchradius (maximale Entfernung):</label><br />
					<span class="label label-default">0km: kaum mobil</span>
					<select name="priority" id="priority" class="form-control">
						<option>0 km</option>
						<option>1 km </option>
						<option>2 km</option>
						<option>5 km</option>
						<option>10 km</option>
						<option>20 km</option>
						<option>50 km</option>
						<option>100 km</option>
						<option>1000 km</option>
					</select>
					<span class="label label-danger">1000km: keine Beschränkungen</span><br><br>
				</div>


				<div class="form-group">{% csrf_token %}
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-share"></span> Absenden</button>
				</div>
			
			</form>
		</div>	
		</div>
	</div>


<div class="panel panel-default">
	<div class="panel-heading"><i class="fa fa-th-list"></i> Aktuelle Gesuche</div>
	<div class="panel-body">
		<ul class="timeline">
			<li> <!--ODER  li class="timeline-inverted"-->
				<div class="timeline-badge blue"> <span class="glyphicon glyphicon-search"></span></div>
				<div class="timeline-panel">

					<img src="http://www.wasserfilter-hannover.de/wp-content/uploads/2015/04/Wasser-Zitrone-200x200.jpg" width="150em" style="float:right;" class="img-thumbnail">

					<div class="timeline-heading">
						<h4 class="timeline-title"><b>Suche sauberes Trinkwasser</b></h4>
						<p><span class="glyphicon glyphicon-user"></span> <a href="#">Max Müller</a> <small class="text-muted" style="font-size: 0.9em;"><i class="fa fa-clock-o"></i> vor 1 Minute </small></p>
					</div>

					<div class="timeline-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
					</div>
					<p>
						<div class="col-lg-12" margin="20px">
							<div class="panel panel-primary">
								<div class="panel-body">
									<p><div><!--Abstand--></div>
										<span class="glyphicon glyphicon-cutlery"></span> Lebensmittel<br>
										<span class="glyphicon glyphicon-map-marker"></span> Straße des 17. Juni 135, Berlin
									</p>
								</div>	

								<!-- Karte hier einfügen -->
								<img src="http://topofusion.com/images/tucson-osm.jpg" width="100%" height="120px">

								<p>
									<center>
										<button type="button" class="btn btn-success">
											<span class="glyphicon glyphicon-arrow-up" ></span>
											Bump! <span class="badge">4</span></button>

											<button type="button" class="btn btn-primary">
												<span class="glyphicon glyphicon-envelope"></span> 
												Kontaktieren</button>

												<button type="button" class="btn btn-danger">
													<span class="glyphicon glyphicon-ban-circle"></span> 
													Melden</button>
												</center>
											</p>
										</div>
									</p>

									<script>
										$(document).ready(function(){
											$("#btnEinblenden").click(function(){
												$("#kommentare").toggle();
												$("#kommentareFooter").toggle();
											});
										});
									</script>

									<div class="chat-panel panel panel-default">
										<div class="panel-heading">
											<i class="fa fa-comments fa-fw"></i>
											Öffentliche Kommentare <span class="badge">1</span>

											<button id="btnEinblenden" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-chevron-down"></i>
											</button>
										</div>


										<div class="panel-body" id="kommentare" style="display: none;">
											<ul class="chat">
												<li class="left clearfix">

													<div class="header">
														<span class="glyphicon glyphicon-user"></span> <a href="#">Lea Meier</a>
														<small class="pull-right text-muted">
															<i class="fa fa-clock-o fa-fw"></i> 26.05.2016: <b>12:36 Uhr</b>
														</small>
													</div>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
													</p>
												</li>
											</ul>
										</div>

										<div class="panel-footer" id="kommentareFooter" style="display: none;">
											<div class="input-group">
												<input id="btn-input" type="text" class="form-control input-sm" placeholder="Stelle Fragen oder kommentiere..." />
												<span class="input-group-btn">
													<button class="btn btn-warning btn-sm" id="btn-chat">
														Kommentieren
													</button>
												</span>
											</div>
										</div>
										<!-- /.panel-footer -->
									</div>
								</li>

								{% if context_list %}
									{% for search_material, glyphicon_string, category_type_string, comment_list  in context_list %}
									<li> <!--ODER  li class="timeline-inverted"-->
				<div class="timeline-badge blue"> <span class="glyphicon glyphicon-search"></span></div>
				<div class="timeline-panel">

					<img src="{{ search_material.image.url }}" width="150em" style="float:right;" class="img-thumbnail">

					<div class="timeline-heading">
						<h4 class="timeline-title"><b>{{ search_material.title }}</b></h4>
						<p><span class="glyphicon glyphicon-user"></span> <a href="#">{{ search_material.user }}</a> <small class="text-muted" style="font-size: 0.9em;"><i class="fa fa-clock-o"></i>{{ search_material.created_date }}</small></p>
					</div>

					<div class="timeline-body">
						<p>{{ search_material.description }}</p>
					</div>
					<p>
						<div class="col-lg-12" margin="20px">
							<div class="panel panel-primary">
								<div class="panel-body">
									<p><div><!--Abstand--></div>
										<span class="{{glyphicon_string}}"></span> {{category_type_string}}<br>
										<span class="glyphicon glyphicon-map-marker"></span> Straße des 17. Juni 135, Berlin
									</p>
								</div>	

								<!-- Karte hier einfügen -->
								<img src="http://topofusion.com/images/tucson-osm.jpg" width="100%" height="120px">

								<p>
									<center>
										<button type="button" class="btn btn-success">
											<span class="glyphicon glyphicon-arrow-up" ></span>
											Bump! <span class="badge">4</span></button>

											<button type="button" class="btn btn-primary">
												<span class="glyphicon glyphicon-envelope"></span> 
												Kontaktieren</button>

												<button type="button" class="btn btn-danger">
													<span class="glyphicon glyphicon-ban-circle"></span> 
													Melden</button>
												</center>
											</p>
										</div>
									</p>

									<script>
										$(document).ready(function(){
											$("#btnEinblenden").click(function(){
												$("#kommentare").toggle();
												$("#kommentareFooter").toggle();
											});
										});
									</script>

									<div class="chat-panel panel panel-default">
										<div class="panel-heading">
											<i class="fa fa-comments fa-fw"></i>
											Öffentliche Kommentare <span class="badge">1</span>

											<button id="btnEinblenden" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-chevron-down"></i>
											</button>
										</div>


										<div class="panel-body" id="kommentare" style="display: none;">
											<ul class="chat">
												<li class="left clearfix">

													<div class="header">
														<span class="glyphicon glyphicon-user"></span> <a href="#">Lea Meier</a>
														<small class="pull-right text-muted">
															<i class="fa fa-clock-o fa-fw"></i> 26.05.2016: <b>12:36 Uhr</b>
														</small>
													</div>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
													</p>
												</li>
                                                {% for comment in comment_list %}
                                                <li class="left clearfix">

													<div class="header">
														<span class="glyphicon glyphicon-user"></span> <a href="#">{{comment.user}}</a>
														<small class="pull-right text-muted">
															<i class="fa fa-clock-o fa-fw"></i> {{comment.created_date}}
														</small>
													</div>
													<p>
														{{comment}}
													</p>
												</li>
                                                {% endfor %}
											</ul>
										</div>

										<div class="panel-footer" id="kommentareFooter" style="display: none;">
											<div class="input-group">
												<input id="btn-input" type="text" class="form-control input-sm" placeholder="Stelle Fragen oder kommentiere..." />
												<span class="input-group-btn">
													<button class="btn btn-warning btn-sm" id="btn-chat">
														Kommentieren
													</button>
												</span>
											</div>
										</div>
										<!-- /.panel-footer -->
									</div>
								</li>
									{% endfor %}
								{% endif %}

							</ul> <!-- # -->
						</div>
					</div>

{% endblock content %}



