{% load staticfiles %}

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">

	<title>DCP: Disaster Communication Platform</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		window.alert = function(){};
		var defaultCSS = document.getElementById('bootstrap-css');
		function changeCSS(css){
			if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
			else $('head > link').filter(':first').replaceWith(defaultCSS);
		}

		function emptyError(){
			document.getElementById("inVaildAlert").innerHTML = '';
		}

		$( document ).ready(function() {
			var iframe_height = parseInt($('html').height());
		});
	</script>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Anmelden</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link" onClick="emptyError();">Registrieren</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form" style="display: block;">
									{% csrf_token %}
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Benutzername" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Passwort">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> angemeldet bleiben</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Einloggen">
											</div>
										</div>
									</div>
									<!--div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="" tabindex="5" class="forgot-password">Password vergessen?</a>
												</div>
											</div>
										</div>
									</div-->
								</form>

								<div id="registerNotValid">
									{% if registerNotValid == false %}
									{% else %}
									<div class='alert alert-danger alert-dismissible' role='alert'>
										<button type='button' class='close' data-dismiss='alert'>
											<span aria-hidden='true'>&times;</span><span class='sr-only'>Schließen</span>
										</button>
										Dieser Benutzername ist leider schon vergeben. Sorry!
									</div>
									{% endif %}

								</div>

								<div id="inVaildAlert">
									{% if notVaild == false %}
									{% else %}
									<div class='alert alert-danger alert-dismissible' role='alert'>
										<button type='button' class='close' data-dismiss='alert'>
											<span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span>
										</button>
										Da ist leider etwas schief gelaufen. Probier's nochmal!
									</div>
									{% endif %}
								</div>


								<form id="register-form" action="/registrieren/" method="POST" role="form" style="display: none;">
									{% csrf_token %}
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Benutzername/Pseudonym" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Emailadresse" value="">
									</div>
									<div class="form-group">
										<input type="password" data-minlength="8" name="password" id="password" tabindex="2" class="form-control" placeholder="Passwort">
									</div>
									<div class="form-group">
										<input type="password" data-minlength="8" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Passwort wiederholen">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Registrieren">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-6 col-md-offset-3">
		<h2 align="center">Welche Katastrophe betrifft dich?</h2>
		<div name="catastropheStyle" style="font-size:1.5em;">
		{% if catastrophes %}
		{% for catastrophe  in catastrophes %} 
				<div class="radio">
			  		<label><input type="radio" name="catastrophe" id="{{ catastrophe.cat_title }}"><span class="label label-primary">{{ catastrophe.cat_title }} in {{ catastrophe.cat_location }}</span></label>
				</div>
		{% endfor %}
		{% endif %}
		</div>
		</div>


	</div>

	<script type="text/javascript">
		$(function() {
			$('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
				$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});

			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
				$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
		});

	</script>
</body>
</html>