{% extends "dcp/design/base.html" %}

{% block title %} Profil bearbeiten {% endblock %}

{% block content %}

<form action="#" method="POST">
	{% csrf_token %}
	<div class="form-group">
	<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Emailadresse" value="{{ user.email }}">
	</div>
	<div class="form-group">
		<input type="password" data-minlength="8" name="password" id="password" tabindex="2" class="form-control" placeholder="Passwort">
	</div>
	<input type="submit" class="btn btn-success btn-lg" value="Profil aktualiseren">
</form>


{% endblock content %}