{% load staticfiles %}
<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="{% static 'favicon/dcp.png' %}" type="image/png" />

	<title>DCP &mdash; Disaster Communication Platform</title>

	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/dist/css/timeline.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/dist/css/sb-admin-2.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
	<link href="{% static 'sb-admin/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link href="{% static 'dataTables/jquery.dataTables.min.css' %}" rel="stylesheet">
	
	<!-- Please leave them here because, if you move them to the end of the page the map site won't work -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	
		<!-- SCRIPTS werden am Ende geladen: siehe unten! -->
</head>

<body>
	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><!--span class="glyphicon glyphicon-home" aria-hidden="true"></span--><b>Disaster Communication Platform</b></a></a>
			</div>
			<!-- /.navbar-header -->
			<ul class="nav navbar-top-links navbar-right">
				<div class="navbar-form navbar-right">
					<form role="form" method="POST" style ="float: right; padding: 5px;">{% csrf_token %}
						{{ catChoiceForm }}
					</form>

					<!---

					<form role="search" method="POST" style ="float: left; padding: 5px;">{% csrf_token %}
						<input type="text" name="search" class="form-control" placeholder="Was brauchst du?">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suchen</button>
					</form>

				-->

					<form role="search" method="GET" action="{% url "dcp:WordSearch" %}">
	          <div class="form-group">
            	<input type="text" name="searchText" class="form-control" placeholder="Was brauchst du?">
          	</div>
         			<button type="submit" class="btn btn-default">
         				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suchen
         			</button>
       		</form>

				</div>


				{{ catastrophe }} <!-- <- Was ist das ? --> 


				<!-- /.dropdown -->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user fa-fw"></i> <b>{{ user.username }}</b> <i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/profil/"><i class="fa fa-user fa-fw"></i> Dein Profil</a>
						</li>

						<li class="divider"></li>
						<li><a href="/abmelden/"><i class="fa fa-sign-out fa-fw"></i> Abmelden</a>
						</li>
					</ul>
				</li>

			</ul>


			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">


						<li>
							<a href="/"><span class="glyphicon glyphicon-home"></span> <b>Startseite</b></a>
						</li>

						<li>
							<a href="/suchen/"><span class="glyphicon glyphicon-search"></span> <b>Suchen</b><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="/suchen/materielles/"><span class="glyphicon glyphicon-th-large"></span> Materielles</a>
								</li>
								<li>
									<a href="/suchen/immaterielles/"><span class="glyphicon glyphicon-tags"></span> Immaterielles</a>
								</li>
								<li>
									<a href="/suchen/personen/"><span class="glyphicon glyphicon-user"></span> Personen</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/bieten/"><span class="glyphicon glyphicon-transfer"></span> <b>Bieten</b><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="/bieten/materielles/"><span class="glyphicon glyphicon-th-large"></span> Materielles</a>
								</li>
								<li>
									<a href="/bieten/immaterielles/"><span class="glyphicon glyphicon-tags"></span> Immaterielles</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/wissen/"><span class=" glyphicon glyphicon-info-sign"></span> <b>Wissen</b><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="/wissen/neuigkeiten/"><span class="glyphicon glyphicon-bullhorn"></span> Neuigkeiten</a>
								</li>
								<li>
									<a href="/wissen/gefahren/"><span class="glyphicon glyphicon-alert"></span> Gefahren</a>
								</li>
								<li>
									<a href="/wissen/fragen/"><span class="glyphicon glyphicon-question-sign"></span> Fragen</a>
								</li>
								<li>
									<a href="/wissen/abstimmungen/"><span class="glyphicon glyphicon-stats"></span> Abstimmungen</a>
								</li>
								<li>
									<a href="/wissen/archiv/"><span class="glyphicon glyphicon-duplicate"></span> Archiv</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/orte/"><span class="glyphicon glyphicon-map-marker"></span> <b>Orte</b><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="/orte/anlaufstellen/"><span class=" glyphicon glyphicon-record"></span> Anlaufstellen</a>
								</li>
								<li>
									<a href="/orte/karten/"><span class="glyphicon glyphicon-screenshot"></span> Karten</a>
								</li>
								<li>
									<a href="/orte/fotos/"><span class="glyphicon glyphicon-camera"></span> Fotos</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/profil/"><span class="glyphicon glyphicon-user"></span> <b> Dein Profil</b><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li> 
									<a href="/profil/daten/"><span class="glyphicon glyphicon-th-list"></span> Persönliche Daten</a>
								</li>
								<li>
									<a href="/nachrichten/"><span class="glyphicon glyphicon-envelope"></span> Nachrichten</a>
								</li>
                                {% if user.profile.ngo != None %}
                                    <li>
                                        <a href="{% url 'dcp:NgoView' user.profile.ngo.id%}"><i class="fa fa-users" aria-hidden="true"></i> {{user.profile.ngo.name_short}}</a>
                                    </li>
                                
                                {% elif user.profile.goverment != None %}
                                    <li>
                                        <a href="{% url 'dcp:GovermentView' user.profile.goverment.id%}"><i class="fa fa-globe" aria-hidden="true"></i> {{user.profile.goverment.name_short}}</a>
                                    </li>
                                {% endif %}
							</ul>
						</li>

						{% if user.is_superuser %}
						<li>
							<a href="/admin/"><span class="glyphicon glyphicon-cog"></span> <b> Administration</b><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="{% url 'dcp:CatastropheOverview' %}"><span class="glyphicon glyphicon-fire"></span> Katastrophen</a>
								</li> 
								<li>
									<a href="{% url 'dcp:UserAdminOverview' %}"><span class="glyphicon glyphicon-user"></span> Benutzer</a>
								</li>
             
								<li>
									<a href="{% url 'dcp:NgoManagerView' %}"><i class="fa fa-users" aria-hidden="true"></i> NGO</a>
								</li>
								<li>
									<a href="{% url 'dcp:GovernmentManagerView' %}"><i class="fa fa-globe" aria-hidden="true"></i> Staat</a>
								</li>
							</ul>
						</li>
						{% endif %}
						<center><img src="{% static 'media/dcp.svg' %}" height="200px" style="padding:20px;"></center>
					</nav>

					<div id="page-wrapper">
						<div class="row">
							<div class="col-lg-12">
								<h1 class="page-header">{% block title %}{% endblock%}</h1>
							</div>
						</div>
						{% block content %}{% endblock content%}
					</div>

					<div class="row" id="footer">    

					</div>              
					<hr>
					<p class="text-center">&copy;  2016  &mdash;  Disaster Communication Platform  &mdash;  <a href="https://github.com/EN152/dcp/">Documentation</a></p>               
					<hr>
				</div>
				<script src="{% static 'sb-admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
				<script src="{% static 'sb-admin/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
				<script src="{% static 'sb-admin/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
				<script src="{% static 'sb-admin/bower_components/raphael/raphael-min.js' %}"></script>
				<script src="{% static 'sb-admin/bower_components/morrisjs/morris.min.js' %}"></script>
				<script src="{% static 'sb-admin/js/morris-data.js' %}"></script>
				<script src="{% static 'sb-admin/dist/js/sb-admin-2.js' %}"></script>
				<script src="{% static 'dataTables/jquery.dataTables.min.js' %}"></script>
			</body>
			</html>