{% load staticfiles %}
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{% static 'favicon/dcp.png' %}" type="image/png" />

  <title>DCP &mdash; Disaster Communication Platform</title>

  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'sb-admin/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'sb-admin/dist/css/timeline.css' %}" rel="stylesheet">
  <link href="{% static 'sb-admin/dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'sb-admin/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
  <link href="{% static 'sb-admin/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <link href="{% static 'dataTables/jquery.dataTables.min.css' %}" rel="stylesheet">
	<script src="{% static 'dataTables/jquery.dataTables.min.js' %}"></script>
</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><!--span class="glyphicon glyphicon-home" aria-hidden="true"></span--> Disaster Communication Platform</a></a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <div class="navbar-form navbar-right">
            <form role="form" method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ catChoiceForm }}
                </div>
            </form>
         <form role="search" method="POST">
          {% csrf_token %}
          <div class="form-group">
           <input type="text" name="search" class="form-control" placeholder="Was brauchst du?">
         </div>
         <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suchen</button>
       </form>
     </div>
     {{ catastrophe }}
     <!-- /.dropdown -->
     <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="/profil/"><i class="fa fa-user fa-fw"></i> Dein Profil</a>
        </li>
  
        <li class="divider"></li>
        <li><a href="/abmelden/"><i class="fa fa-sign-out fa-fw"></i> Abmelden</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="/"><span class="glyphicon glyphicon-home"></span> <b>Überblick</b></a>
        </li>

        <li>
          <a href="/suchen/"><span class="glyphicon glyphicon-search"></span> <b>Suchen</b><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="/suchen/materielles/"><span class="glyphicon glyphicon-th-large"></span> Materielles</a>
            </li>
            <li>
              <a href="/suchen/immaterielles/"><span class="glyphicon glyphicon-tags"></span> Immaterielles</a>
            </li>
            <li>
              <a href="/suchen/personen/"><span class="glyphicon glyphicon-user"></span> Personen</a>
            </li>
          </ul>
        </li>


        <li>
          <a href="/bieten/"><span class="glyphicon glyphicon-transfer"></span> <b>Bieten</b><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="/bieten/materielles/"><span class="glyphicon glyphicon-th-large"></span> Materielles</a>
            </li>
            <li>
              <a href="/bieten/immaterielles/"><span class="glyphicon glyphicon-tags"></span> Immaterielles</a>
            </li>
          </ul>
        </li>



        <li>
          <a href="/wissen/"><span class=" glyphicon glyphicon-info-sign"></span> <b>Wissen</b><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="/wissen/neuigkeiten/"><span class="glyphicon glyphicon-bullhorn"></span> Neuigkeiten</a>
            </li>
            <li>
              <a href="/wissen/gefahren/"><span class="glyphicon glyphicon-alert"></span> Gefahren</a>
            </li>
            <li>
              <a href="/wissen/fragen/"><span class="glyphicon glyphicon-question-sign"></span> Fragen</a>
            </li>
            <li>
              <a href="/wissen/abstimmungen/"><span class="glyphicon glyphicon-stats"></span> Abstimmungen</a>
            </li>
            <li>
              <a href="/wissen/archiv/"><span class="glyphicon glyphicon-duplicate"></span> Archiv</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/orte/"><span class="glyphicon glyphicon-map-marker"></span> <b>Orte</b><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">

            <li>
              <a href="/orte/anlaufstellen/"><span class=" glyphicon glyphicon-record"></span> Anlaufstellen</a>
            </li>

            <li>
              <a href="/orte/karten/"><span class="glyphicon glyphicon-screenshot"></span> Karten</a>
            </li>

            <li>
              <a href="/orte/fotos/"><span class="glyphicon glyphicon-camera"></span> Fotos</a>
            </li>
          </ul>
          </li>
          
            <li>
              <a href="/profil/"><span class="glyphicon glyphicon-user"></span> <b>Dein Profil</b></a>

              <ul class="nav nav-second-level">
                <li><a href="/profil/daten/"><span class="glyphicon glyphicon-th-list"></span> Persönliche Daten</a></li>
                <li><a href="/profil/netzwerke"><span class="glyphicon glyphicon-briefcase"></span> Netzwerke</a></li>
                <!--li><a href="/profil/chats"><span class="glyphicon glyphicon-user"></span>Nachrichten</a></li-->
              </ul>
            </li>
              {% if request.user.is_superuser %}
              <!--<a href="/adminstrator/">--><span class="glyphicon glyphicon-user"></span> <b>Administratorbereich</b></a>

              <ul class="nav nav-second-level"> <!--TODO: Ausklappbar machen -->

                <li>
                    <a href="{% url 'dcp:CatastropheOverview' %}"><span class="glyphicon glyphicon-briefcase fa arrow"></span>Katastrophen Verwaltung</a>
                  <ul class="nav nav-third-level">
                      <li><a href="{% url 'dcp:CreateOrEditCatastrophe' %}"><span class="glyphicon glyphicon-th-list"></span>Katastrophe erstellen</a></li>
                  </ul>

                <li><a href="{% url 'dcp:UserAdminOverview' %}"><span class="glyphicon glyphicon-briefcase"></span>Benutzerübersicht</a></li>
                <!--li><a href="/profil/chats"><span class="glyphicon glyphicon-user"></span>Nachrichten</a></li-->
                  </li>
              </ul>
              {% endif %}

          </ul>

        </li>
          </div>
        </div>
        <!-- /.sidebar-collapse -->
    
      <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">{% block title %}{% endblock%}</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>

      {% block content %}{% endblock content%}

    </div>

  <!--footer class="footer">
    <div class="container">
      <div class="container_footer">
        <p class="text-muted_footer">&copy;  2016  &mdash;  Disaster Communication Platform  &mdash;  <a href="https://github.com/EN152/dcp/">Documentation</a></p>
      </div>
    </div>
  </footer-->

  <script src="{% static 'sb-admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'sb-admin/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'sb-admin/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
  <script src="{% static 'sb-admin/bower_components/raphael/raphael-min.js' %}"></script>
  <script src="{% static 'sb-admin/bower_components/morrisjs/morris.min.js' %}"></script>
  <script src="{% static 'sb-admin/js/morris-data.js' %}"></script>
  <script src="{% static 'sb-admin/dist/js/sb-admin-2.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</body>
</html>