
<div class="panel panel-default">
    	<div class="panel-heading"><i class="fa fa-th-list"></i><b> Überblick | {{ page_title }}</b></div>

        <div class="navbar-form">
    <form role="filter" method="GET" style="float: left; padding: 5px;" action="None">
         <div class="checkbox">
            <label><input id="lebensmittelcb" type="checkbox" onclick="toggle('.food_filter_class', this)" value="">  Lebensmittel  </label>
         </div>
         <div class="checkbox">
            <label><input id="infracb" onclick="toggle('.infra_filter_class', this)" type="checkbox" value="">  Infrastruktur  </label>
         </div>
         <div class="checkbox">
            <label><input id="wekzeugecb" onclick="toggle('.tool_filter_class', this)" type="checkbox" value="">  Werkzeuge  </label>
         </div>
         <div class="checkbox">
            <label><input id="medicb" onclick="toggle('.medic_filter_class', this)" type="checkbox" value="">  Medikamente  </label>
         </div>
         <div class="checkbox">
            <label><input id="misccb" onclick="toggle('.misc_filter_class', this)" type="checkbox" value="">  Sonstige  </label>
         </div>
         <label><input type="number" id="radius" name="radius" value="2">  km  </label>
    </form> 
        </div>