<div class="timeline">
    <div class="panel panel-default">
    	<div class="panel-heading"><i class="fa fa-th-list"></i><b> Überblick | {{ page_title }}</b></div>
    
    	<div class="panel-body">
    		<ul class="timeline">   
    			{% if goods_list %}
    			{% for good in goods_list %}
    
                <!-- Beginn eines Elements -->
                {% load mathfilters %}
    			<li {% if forloop.counter|mod:2 == 0 %}class="timeline-inverted"{% endif %}>
    			    <div class="timeline-badge {{good.timeline_badge_color}}"> <span class="glyphicon {{good.timeline_glyphicon}}"></span></div>
    
    			    <div class="timeline-panel">
    
                        {% if good.image.url != None %}
    				        <img src="{{ good.image.url }}" width="150" style="float:right;" class="img-thumbnail">
                        {% endif %}
    
    				    <div class="timeline-heading">
    				    	<h4 class="timeline-title"><span class="label label-success">{% if good.user.profile.ngo != None %}{{good.user.profile.ngo.name_short}}{% elif good.user.profile.government != None %}{{good.user.profile.government.name_short}}{% endif %}</span> <b>{{ good.title }}</b></h4>
    				    	<p><span class="glyphicon glyphicon-user"></span> <a href="#">{{ good.user }}</a> <small class="text-muted" style="font-size: 0.9em;"><i class="fa fa-clock-o"></i> vor {{ good.created_date|timesince }}</small></p>
    				    </div>
    
    				    <div class="timeline-body">
    				    	<p>{{ good.description }}</p>
    				    </div>
    
    					<div class="col-lg-12" margin="20px">
    						<div class="panel panel-primary">
    							<div class="panel-body">
    								<p><div><!--Abstand--></div>
    									<span class="{{good.getCategoryGlyphiconAsString}}"></span> {{good.getCategoryNameAsString}}<br>
    									<span class="glyphicon glyphicon-map-marker"></span> {{ good.location_x }}, {{ good.location_y}}
    								</p>
    							</div>	
    
    							<!-- Karte: -->
								<div id="mapid{{ good.id }}" style="width:100%; height:150px;"></div>
								<script>
									var mymap = L.map('mapid{{ good.id }}').setView(["{{ good.location_x }}".replace(",","."), "{{ good.location_y}}".replace(",",".")],13);

									L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
										maxZoom: 18,
										attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
														'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
															'Imagery © <a href="http://mapbox.com">Mapbox</a>',
										id: 'mapbox.streets'
									}).addTo(mymap);
									L.marker(["{{ good.location_x }}".replace(",","."), "{{ good.location_y}}".replace(",",".")]).addTo(mymap).bindPopup("<b>{{ good.title }}</b>");
									var popup = L.popup();
								</script>
    
                                {% if user.is_active %}
                                <!-- TODO Button werden nicht richtig angezeigt -->
    								<center>
                                        <form action="" role="form" id="bump_form" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                            <input type="hidden" name="good_id" value="{{good.id}}" />
    						                <button type="submit" class="btn btn-success" name="post_identifier" value="bump" style="margin-top: 10px; margin-bottom: 10px;">
    							            	<span class="glyphicon glyphicon-arrow-up" ></span>
    							            	Bump! <span class="badge">{{good.getBumps|length}}</span>
                                            </button>
                                        </form>
                                              
                                        {% if good.user != user %}

                                            <form action="" role="form" id="contact_form" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                                <input type="hidden" name="good_id" value="{{good.id}}" />
						                             <button type="submit" class="btn btn-primary" value="contact_form" name="post_identifier" style="margin-top: 10px; margin-bottom: 10px;">
							                       	    <span class="glyphicon glyphicon-envelope"></span>
							                       	    Kontaktieren
                                                    </button>
                                            </form>
                                        {% endif %}
    
                                        {% if user.is_superuser or good.user == user %}
                                            <form action="" role="form" id="delete_form" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="good_id" value="{{good.id}}" />
                                                <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                                <button type="submit" class="btn btn-danger" name="post_identifier" value="delete" style="margin-top: 10px; margin-bottom: 10px;">
    							                    <span class="glyphicon glyphicon-trash"></span> 
    							                    Löschen
                                                 </button>
                                            </form>
    
                                        {% else %}
                                            <form action="" role="form" id="report_form" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="good_id" value="{{good.id}}" />
                                                <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
    							                <button class="btn btn-danger" type="submit" name="post_identifier" value="report">
    							                   <span class="glyphicon glyphicon-ban-circle"></span> 
    							                   Melden <span class="badge">{{good.getReports|length}}</span>
                                                </button>
                                            </form>
                                        {% endif %}
    							    </center>
                                {% endif %}
    						</div>
    
    						<script>
    								$(document).ready(function(){
    									$("#btnEinblenden_{{good.id}}").click(function(){
    										$("#kommentare_{{good.id}}").toggle();
    										$("#kommentareFooter_{{good.id}}").toggle();
    									});
    								});
    						</script>
    
                            <!-- Anfang Kommentarblock -->
    						<div class="chat-panel panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-comments fa-fw"></i>
                                    Öffentliche Kommentare <span class="badge">{{good.getComments|length}}</span>
    
    								<button id="btnEinblenden_{{good.id}}" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
    
    							</div>
    
    							<div class="panel-body" id="kommentare_{{good.id}}" style="display: none;">
                                    <ul class="chat">
                                        <!-- Anfang Beispiel Kommentar
    									<li class="left clearfix">
    										<div class="header">
    											<span class="glyphicon glyphicon-user"></span> <a href="#">Lea Meier</a>
    											<small class="pull-right text-muted">
    												<i class="fa fa-clock-o fa-fw"></i> 26.05.2016: <b>12:36 Uhr</b>
    											</small>
    										</div>
    										<p>
    											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
    										</p>
    									</li>
                                        <!-- Ende Beispiel Kommentar -->
    
                                           {% for comment in good.getComments %}

                                           <li class="left clearfix">
    										<div class="header">
    											<span class="glyphicon glyphicon-user"></span> <a href="#">{{comment.user}}</a>
    											<small class="pull-right text-muted">
    												<i class="fa fa-clock-o fa-fw"></i> vor {{comment.created_date|timesince}}
    											</small>
    										</div>
    										<p>
    											{{comment.text}}
    										</p>
    									</li>
    
                                           {% endfor %}
    
    								</ul>
    							</div>
    
                                {% if user.is_active %}

    							<div class="panel-footer" id="kommentareFooter_{{good.id}}" style="display: none;">
                                    <form class="form-horizontal" role="form" id="comment" method="post">
    								    <div class="input-group">  
                                            
                                            {% csrf_token %}
                                            <input type="hidden" name="good_type" value="{{good.getGoodType}}" />
                                            <input type="hidden" name="good_id" value="{{good.id}}" />
                                            <input name="text" id="id_text" type="text" class="form-control input-sm" maxlength="500" placeholder="Schreibe ein Kommentar..." />
                                            
                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm" id="btn-chat" type="submit" name="post_identifier" value="comment">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Kommentieren
                                                </button>
                                            </span>
    								    </div>
                                    </form>
    							</div>
                                {% endif %}
    
    						</div>
                               <!-- Ende des Kommtarblocks-->
                           </div>
                       </div>
                   </li>
                <!-- Ende eines Elements -->
    
    			{% endfor %}
    			{% endif %}
    
    		</ul>
    	</div>
    </div>
</div>