{% extends "dcp/design/base.html" %}

{% block title %} Aktionen  {% endblock %}

{% block content %}

<div class="col-lg-6">
	<div class="panel panel-aktionen">
		<div class="panel-heading">
			Aktion planen
		</div>
		<div class="panel-body">
			<p>Hier kannst Du eine neue Aktion/Veranstaltung erstellen und veröfentlichen.</p>
			<h2><span class="glyphicon glyphicon-th-large"></span> <a href="planung/">Aktion planen</a></h2>
			<br>
		</div>
	</div>
</div>

<div class="col-lg-6">
	<div class="panel panel-aktionen">
		<div class="panel-heading">
			Laufende Aktionen
		</div>
		<div class="panel-body">
			<p>Hier erhältst du eine Übersicht aller laufenden Aktionen und kannst dich ggf. in eine bereits erstelle eintragen.</p>
			<h2><i class="fa fa-life-ring" aria-hidden="true"></i> <a href="laufende/">Laufende Aktionen</a></h2>
		</div>
	</div>
</div>

{% endblock content %}
