{% extends "dcp/design/base.html" %}

{% block title %} Bieten {% endblock %}

{% block content %}

<div class="col-lg-4">
	<div class="panel panel-red">
		<div class="panel-heading">
			Materielles
		</div>
		<div class="panel-body">
			<p>Hier kannst Du ein Angebot einstellen, das einen Gegenstand betrifft. Wähle eine Kategorie und lade optional ein Beispielfoto hoch. Bevor du dein Gesuch einstellt, ist es sinnvoll, bei den <a href="/suchen/materielles/">Suchen</a> vorbeizuschauen.</p>
			<h2><span class="glyphicon glyphicon-th-large"></span> <a href="/bieten/materielles/">Materielles</a></h2>
		</div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-red">
		<div class="panel-heading">
			Immaterielles
		</div>
		<div class="panel-body">
			<p>Hier kannst Du ein Angebot einstellen, das eine Dienstleistung betrifft. Wähle eine Kategorie und versuche, deine Beschreibung möglichst eindeutig zu formulieren. Bitte beachte mögliche Einschränkungen wie ggf. benötigte Berufsausbildung (Ärzte, Handwerker...).</p>
			<h2><span class="glyphicon glyphicon-tags"></span> <a href="/bieten/immaterielles/">Immaterielles</a></h2>
		</div>
	</div>
</div>

{% endblock content %}